{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
    <div id="input_container">
        <form method="post" id="input_form">
            {% csrf_token %}
            <table class="input_box">
                {{ movie.as_p }}
            </table>
            <button class="button primary" type="submit" value="submit">Search</button>
            {{ form.non_field_errors }}
        </form>
    </div>
    <div id="movie_container">
        <div>
            {% for movie in results %}
                <div class="card">
                    <div class="card-header">
                        <h1>{{ movie.title }}</h1>
                    </div>
                    <div class="card-body">
                        <img src="{{ movie.image }}" alt="Movie Image" height="350" width="300">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}