* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container{
    display: flex;
    justify-content: center;
}

.backgroundImage {
    object-fit: fill;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -9999;
}

#input_container {
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#input_form {
    display: flex;
    position: fixed;
    align-items: baseline;
    width: auto;
    left: 5%;
    background: rgba(1,1,1,.8);
    border-radius: 2px;
    border: 1px black;
    padding: 15px;
}

p label {
    color: white;
}

.searchButton {
    margin-left: 5px;
}

#movie_container {
    width: 50%;
    margin-left: 30px;
}

.card {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card-header, .card-footer {
    width: 100%;
}

.card-body {
    display: flex;
    justify-content: center;
}

.card-footer {
    display: flex;
    justify-content: right;
}

.like, .dislike {
    margin-left: 10px;
}