* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container{
    display: flex;
    justify-content: center;
}

.backgroundImage {
    position: fixed;
    right: 0;
    overflow: hidden;
    z-index: -9999;
    height: 100vh;
    width: 100vw;
}

#input_container {
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#input_form {
    display: flex;
    position: fixed;
    align-items: baseline;
    width: auto;
    left: 5%;
    background: rgba(1,1,1,.8);
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 15px;
    padding-bottom: 0;
}

p label {
    color: white;
}

.searchButton {
    margin-left: 5px;
}

/****************** CARDS *********************/

#movie_container {
    width: 50%;
    margin-left: 30px;
}

.card {
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.card-header {
    width: 100%;
    color: #eee;
    background-color: #0e0e0e;
}

.card-body {
    display: flex;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    width: 100%;

}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0e0e0e;
}

.like-container {
    display: flex;
}

.details-container {
    display: flex;
    align-items: center;
}

.like, .dislike {
    margin-left: 10px;
}

/***************** END CARDS ********************/

/****************** DETAILS PAGE *********************/

.details-background {
    filter: blur(50px) saturate(50%);
    object-fit: cover;
}

.details-background-container:before, .details-background-container:after {
    content: '';
    position: fixed;
    height: 30px;
    width: 100%;
    background-color: black;
    z-index: 10;
}

.details-background-container:before {
    top: 0;
}

.details-background-container:after {
    bottom: 0;
}

.back-button {
    color: #eee;
    z-index: 9999;
    position: fixed;
    top: 50px;
    left: 50px;
    height: 20px;
    cursor: pointer;
}

.back-button:hover {
    color: #a9a9a9;
}


.top-details-container {
    margin: 30px 0;
    background-color: rgba(1,1,1,.3);
    min-height: calc(100vh - 60px);
    padding: 50px;
    color: #eee;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 150px;
}

.cast-box {
    text-align: right;
}

#cast-character {
    color: #eee;
}

.cast-list-before {
    list-style: none;
    color: #575757;
}

.cast-list-after {
    list-style: none;
    color: #575757;
    display: none;
}

.more {
    color: #575757;
}

.more:hover {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
}

.less {
    color: #575757;
    display: none;
}

.less:hover {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
}

.info-box {
    display: flex;
    justify-content: space-between;
}

.trailer-button {
    margin-top: 15px;
}


/**************** END DETAILS PAGE *******************/

